</div>
<footer className="c-footer">
    <p>
      Thanks to the Wikipedia pages for Latin and Greek roots
      <a href="https://en.wikipedia.org/wiki/List_of_Greek_and_Latin_roots_in_English/A-G">
        A-G
      </a>, 
      <a href="https://en.wikipedia.org/wiki/List_of_Greek_and_Latin_roots_in_English/H-O">
        H-O
      </a>,
      <a href="https://en.wikipedia.org/wiki/List_of_Greek_and_Latin_roots_in_English/P-Z">
        P-Z
      </a>
    </p>
    <p className="row u-center-text">
      Built with <abbr title="love">♥</abbr> by 
      <a href="https://github.com/joeyciechanowicz/latin-greek-roots">Joey Ciechanowicz</a>. Feedback 
      <a href="https://github.com/joeyciechanowicz/latin-greek-roots/issues">welcome</a>.
    </p>
</footer>

<script src="https://getinsights.io/static/js/insights.js"></script>

</body>
</html>
