<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="Description"
      content="Author: Joey Ciechanowicz, Category: Education. Learn latin and greek roots (prefixes and suffixes) for words"
    />
    <title>Latin/Greek roots</title>
    <link rel="shortcut icon" type="image/ico" href="/assets/favicon.ico" />
    <link rel="stylesheet" href="/assets/index.css" />
  </head>
  <body>
    <div class="container">