<mat-toolbar color="primary">

    <!--<mat-form-field floatLabel="never" color="accent">-->
        <!--<input type="text" matInput [formControl]="searchCtrl" aria-label="Search string" placeholder="Search">-->
    <!--</mat-form-field>-->
    <!--<mat-icon>search</mat-icon>-->

    <mat-form-field floatLabel="never" color="accent">
        <mat-select placeholder="Browse by letter" aria-label="Browse by letter" [formControl]="browseCtrl">
            <mat-option *ngFor="let letter of alphabet" [value]="letter">
                {{ letter | uppercase }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</mat-toolbar>


<router-outlet></router-outlet>
